PORT=3000
REFRESH_INTERVAL_MS=30000
OPENSKY_TIMEOUT_MS=9000
OPENSKY_USERNAME=
OPENSKY_PASSWORD=
# Doporučeno v produkci: `node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"`
CREDENTIALS_ENCRYPTION_KEY=
DATA_DIR=./data
LOG_FORMAT=combined
TRUST_PROXY=false
APP_CONTACT_URL=http://localhost/contact
HTTPS_CERT_FILE=
HTTPS_KEY_FILE=
